@use 'tailwindcss';
@source "./src/**/*.{js,ts,jsx,tsx,mdx}";

@layer base {
  * {
    @apply box-border;
  }
}

@layer components {
  .marker {
    display: inline;
    position: relative;
    background-repeat: no-repeat;
    background-position: bottom left;
    transition: all 0.5s;
    background-size: 100% 100%;
    transition-delay: 0.5s;
  }
}

@layer utilities {
}
