@use 'tailwindcss';
@source "./src/**/*.{js,ts,jsx,tsx,mdx}";

@theme {
  --font-creepster: 'Creepster', 'cursive';
}

@layer base {
  * {
    @apply box-border;
  }
}

@layer components {
  .runner:hover .runner-img {
    animation: run 0.7s steps(6) infinite;
  }
  @keyframes run {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -436px 0;
    }
  }

  @keyframes loop-horizontal {
    0% {
      transform: translateZ(0);
    }

    to {
      transform: translate3d(-100%, 0, 0);
    }
  }

  @keyframes loop {
    0% {
      transform: translate3d(0, -100%, 0);
    }

    to {
      transform: translateZ(0);
    }
  }

  @keyframes loop-reverse {
    0% {
      transform: translateZ(0);
    }

    to {
      transform: translate3d(0, -100%, 0);
    }
  }
  @keyframes loop-horizontal-reverse {
    0% {
      transform: translate3d(-100%, 0, 0);
    }

    to {
      transform: translateZ(0);
    }
  }

  .spin {
    animation: rotate 2s infinite cubic-bezier(0.42, 0, 0.1, 1);
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

@layer utilities {
}
